{% extends "layout.html" %}


{% block body %}

<form class="form-inline" style='margin-top:20px' id='addIdcForm'>
  <div class="form-group">
    <label for="exampleInputName2">idc名称</label>
    <input type="text" class="form-control" name='name' id="nameInput" placeholder="名称">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">备注</label>
    <input type="text" class="form-control" name='msg' id="msgInput" placeholder="备注">
  </div>
  <button type="submit" class="btn btn-default">添加</button>
</form>


<div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default" style='margin-top:20px;'>
<!--                         <div class="panel-heading">
                           idc信息
                            <button class='btn btn-default' id='addIdc'>添加idc</button>
                        </div> -->
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="dataTable_wrapper">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>idc名称</th>
                                            <th>备注</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
{% for d in data %}
<tr>
	<td>{{d[1]}}</td>
	<td>{{d[2]}}</td>
	<td>
<span class="label label-primary hover deleteidc" data-id='{{d[0]}}'>删除</span>
<span class="label label-primary hover" data-id='{{d[0]}}'>
	<a href="/mac?idc={{d[1]}}" style='color:white'>查看</a>
</span>

	</td>
</tr>
{% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
<div class="modal fade" id='addIdcModal'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}

{% block js %}
<script>
	    $(document).ready(function() {
	    	$(document).on('click','.deleteidc',function(){
	    		var id = $(this).data('id')
	    		$.get('/deleteidc?id='+id,function(res){
	    			if (res == 'ok') {
	    				location.reload()
	    			};
	    		})
	    	})
	    	$('#addIdcForm').on('submit',function(){
	    		if($('#nameInput').val()&&$('#msgInput').val()){

	    		$.get('/addidc',$('#addIdcForm').serialize(),function(data){
	    			if (data=='ok') {
	    			$('#tipModal').find('.modal-body').html('添加成功').end().modal('show')

	    			}else{

	    			}
	    		})
	    		}else{
	    			alert('添加字段不全')
	    		}


	    		return false
	    	})
	    	$('#addIdc').click(function(){
	    		$('#addIdcModal').modal('show')
	    	})
	    	})
</script>
{% endblock %}